.button-div{
  display: flex;
  width: 90%;
  margin: 1em auto;
  justify-content: space-between;
}

.button-div button{
  font-family: inherit;
  font-size: 2em;
  border: none;
  border-radius: 4px;
}

.image-witcher,
.image-opponent{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.image-witcher{
  background-image: url('/img/winner-loser/moriewna2.jpg');
}

.image-opponent{
  background-image: url('/img/winner-loser/koszczej.png') ;
}






